:not(div) {
  background-color: #e6e4d8;
  align-content: center;
  font-family: math;
}

h1 {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: center;
  font-family: cursive;
  font-size: 1cm;
}

.Sec1 {
  background-color: #e6e4d8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  margin: 2em;
  background-image: url("k.png");
}

.Sec2 {
  background-color: transparent;
  margin: -1em;
  padding: 1em;
  display: inline;
  flex-direction: column;
}

.Sec3 {
  align-items: flex-start;
  height: 10em;
  width: 10em;
  margin: -1em;
}

.Sec3:first-child {
  align-items: baseline;
}

#chart{
  height: 55em;
  visibility: hidden;
}

.hidden{
  visibility: hidden;
}

#hidden1{
  visibility: hidden;
}

#hidden2{
  visibility: hidden;
}

#hidden3{
  visibility: hidden;
}